@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-light-text bg-light-bg dark:text-dark-text dark:bg-dark-bg transition-colors duration-200;
  }
}
